## Deliverable 2. Create a Customer Travel Destinations Map.

In [24]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [25]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,General Roca,AR,-39.0333,-67.5833,91.62,18,1,13.56,clear sky
1,1,Vaini,TO,-21.2000,-175.2000,80.76,78,20,2.30,few clouds
2,2,Te Anau,NZ,-45.4167,167.7167,53.38,94,100,5.19,overcast clouds
3,3,Albany,US,42.6001,-73.9662,40.86,71,55,3.00,broken clouds
4,4,Ginir,ET,7.1333,40.7000,57.07,39,5,6.87,clear sky

In [26]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 72
What is the maximum temperature you would like for your trip? 89

In [28]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_temps = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_temps.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Vaini,TO,-21.2000,-175.2000,80.76,78,20,2.30,few clouds
5,5,Poya,NC,-21.3500,165.1500,76.87,72,47,9.60,scattered clouds
6,6,Georgetown,MY,5.4112,100.3354,80.53,93,40,5.99,light rain
7,7,Nicoya,CR,10.1483,-85.4520,87.35,76,53,5.39,broken clouds
10,10,Kupang,ID,-10.1667,123.5833,80.44,82,100,4.29,overcast clouds
11,11,San Patricio,US,28.0170,-97.5169,72.18,42,0,5.86,clear sky
16,16,Grand Gaube,MU,-20.0064,57.6608,76.37,68,15,5.99,few clouds
20,20,Chahal,GT,15.7500,-89.5667,77.72,79,100,1.30,overcast clouds
22,22,Ixtapa,MX,20.7000,-105.2000,85.23,61,0,5.99,clear sky
24,24,Rikitea,PF,-23.1203,-134.9692,73.35,65,5,7.47,clear sky

In [29]:
# 4a. Determine if there are any empty rows.
preferred_temps.count()

City_ID                226
City                   226
Country                225
Lat                    226
Lng                    226
Max Temp               226
Humidity               226
Cloudiness             226
Wind Speed             226
Current Description    226
dtype: int64

In [30]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities = preferred_temps.dropna()
preferred_cities.count()

City_ID                225
City                   225
Country                225
Lat                    225
Lng                    225
Max Temp               225
Humidity               225
Cloudiness             225
Wind Speed             225
Current Description    225
dtype: int64

In [31]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vaini,TO,80.76,few clouds,-21.2000,-175.2000,
5,Poya,NC,76.87,scattered clouds,-21.3500,165.1500,
6,Georgetown,MY,80.53,light rain,5.4112,100.3354,
7,Nicoya,CR,87.35,broken clouds,10.1483,-85.4520,
10,Kupang,ID,80.44,overcast clouds,-10.1667,123.5833,
11,San Patricio,US,72.18,clear sky,28.0170,-97.5169,
16,Grand Gaube,MU,76.37,few clouds,-20.0064,57.6608,
20,Chahal,GT,77.72,overcast clouds,15.7500,-89.5667,
22,Ixtapa,MX,85.23,clear sky,20.7000,-105.2000,
24,Rikitea,PF,73.35,clear sky,-23.1203,-134.9692,

In [32]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [33]:
# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [34]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.replace('', np.nan, inplace=True)

In [36]:
hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Vaini,TO,80.76,few clouds,-21.2000,-175.2000,Keleti Beach Resort
6,Georgetown,MY,80.53,light rain,5.4112,100.3354,Cititel Penang
7,Nicoya,CR,87.35,broken clouds,10.1483,-85.4520,Las Cabinas Del Sueño
10,Kupang,ID,80.44,overcast clouds,-10.1667,123.5833,Hotel On The Rock by Prasanthi
11,San Patricio,US,72.18,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
...,...,...,...,...,...,...,...
681,Igbo Ora,NG,78.13,clear sky,7.4333,3.2833,Pinkbell Inn
685,Salcedo,PH,77.59,overcast clouds,12.8105,121.4674,Yamaji Freeman Farm
686,Fare,PF,79.77,light rain,-16.7000,-151.0167,Maitai Lapita Village Huahine
691,Nabire,ID,74.82,broken clouds,-3.3667,135.4833,Hotel Nusantara Nabire
692,Paita,PE,73.96,overcast clouds,-5.0892,-81.1144,Hotel Náutico de Paita

In [37]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [40]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [41]:
# 11a. Add a marker layer for each city to the map. 
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))